/*это файл сброса дефолтных установок браузера*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*ссылки, которые уже были открыты и ссылки, на которых наведен 
курсор будут  наследовать цвет и не имеют подчеркивания*/
a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

/*активные ссылки не будут обведены*/
a:focus, a:active {
    outline: none;
}

/*тезисы и абзацы будут наследовать размер, жирность и высоту строки*/
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/*следующий абзац будет иметь отступ от верха размером 
относительно размера соседних элементов*/
p + p {
    margin-top: 1em;
}

/*списки не будут отображать точки*/
ul {
    list-style: none;
}

/*настройки*/
img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}